<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Provo - SMU MH</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/icon.png" rel="icon">
  <link href="assets/img/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <style>
    .custom-table-container {
        width: 100%;
        max-height: 500px; /* Set your desired height */
        overflow-y: auto;
      }
  
      .custom-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px; /* Adjust as needed */
      }
  
      .custom-header {
        background-color: #f2f2f2;
        z-index: 1;
      }
  
      .custom-header th,
      .custom-content td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      /* Make the header fixed */
      .custom-header th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0;
        z-index: 100;
      }
  
      /* Tooltip container */
      .tooltipConwayFav {
        position: relative;
        display: inline-block;
      }
  
      /* Tooltip text */
      .tooltipConwayFav .tooltiptextConwayFav {
        visibility: hidden;
        width: 160px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 500;
        top: 200%; /* Adjusted to 100% */
        left: 50%;
        margin-left: -80px;
        opacity: 0;
        transition: opacity 0.3s;
      }
  
      /* Show the tooltip text when hovering */
      .tooltipConwayFav:hover .tooltiptextConwayFav {
        visibility: visible;
        opacity: 1;
      }
      .custom-table tr:nth-child(even) {
        background-color: #f9f9f9; /* Set your desired background color */
      }

  </style>

  <!-- =======================================================
  * Template Name: Nova
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-contact">

 <!-- ======= Header ======= -->
 <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Provo City</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/survey">Survey</a></li>
          <li><a href="/dashboard">Explore Data</a></li>
          <% if (isAuthenticated) { %>
          <li><a href="/edit">Edit Profile</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/results">Results</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/mountains.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Survey Data</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Survey Data</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-center">

          <div class="col-lg-20" data-aos="fade-up" data-aos-delay="250">

            <div class="custom-table-container">
            <table class="custom-table">
                <thead class="custom-header">
                  <tr>
                    <div>
                      <th style="width: 5%;text-align:left">Entry ID</th>
                      <th style="width: 5%;text-align:left">Age</th>
                      <th style="width: 10%;text-align:center">Gender</th>
                      <th style="width: 15%;text-align:left">Relationship Status</th>
                      <th style="width: 25%;text-align:left">Occupation Status</th>
                      <th style="width: 15%;text-align:left">Affiliated Platforms</th>
                      <th style="width: 15%;text-align:left">Affiliated Organizations</th>
                    </div>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q1
                        <span class="tooltiptextConwayFav">I often find myself using social media without a specific purpose</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q2
                        <span class="tooltiptextConwayFav">I often get distracted by social media when I am busy doing something</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q3
                        <span class="tooltiptextConwayFav">I am easily distracted
                        </span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q4
                        <span class="tooltiptextConwayFav">I am bothered by worries often</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q5
                        <span class="tooltiptextConwayFav">I find it difficult to concentrate on things</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q6
                        <span class="tooltiptextConwayFav">I often compare myself to other successful people through their use of social media</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q7
                        <span class="tooltiptextConwayFav">Following the previous statement, I end up feeling negatively about myself with these comparisons</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q8
                        <span class="tooltiptextConwayFav">I often seek validation through social media</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q9
                        <span class="tooltiptextConwayFav">I often feel depressed or down</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q10
                        <span class="tooltiptextConwayFav">My interest in daily activities fluctuates frequently</span>
                      </div></th>
                      <th style="width: 25%; text-align: left;">
                        <div class="tooltipConwayFav">
                        Q11
                        <span class="tooltiptextConwayFav">I often face issues regarding sleep</span>
                      </div></th>
                  </tr>
                </thead>
            </div>
                <ul>
                <% myrecords.forEach(record => { %>
                    <% let corg = ''; %>
                    <% let csocial = []; %>
                    <tr>
                        <td style="word-wrap: normal"><%= record.EntryID %></td>
                        <td style="word-wrap: normal"><%= record.Age %></td>
                        <td style="word-wrap: normal"><%= record.Gender %></td>
                        <td style="word-wrap: normal"><%= record.RelationshipStatus %></td>
                        <td style="word-wrap: normal"><%= record.OccupationStatus %></td>
                        <td><% mysocials.forEach(socialmedia => {
                            if(socialmedia.EntryID === record.EntryID) {
                                myplatforms.forEach(platform => {
                                    if(platform.PlatformID === socialmedia.PlatformID){ %>
                                        <% if(!csocial.includes(platform.Platform)) {
                                            csocial.push(platform.Platform); %>
                                                <%= platform.Platform %>
                                        <% } %>
                                <% }});}}); %> </td>
                            <td><% mysocials.forEach(socialmedia => {
                                if(socialmedia.EntryID === record.EntryID) {
                                myorganizations.forEach(organization => {
                                    if(organization.OrganizationID === socialmedia.OrganizationID){ %>
                                        <% if(corg !== organization.Organization) {
                                            corg = organization.Organization; %>
                                        <%= organization.Organization %>
                                <% }}}) %>
                            <% }}); %></td>
                        <td style="word-wrap: normal"><%= record.OftenSpent %></td>
                        <td style="word-wrap: normal"><%= record.Restless %></td>
                        <td style="word-wrap: normal"><%= record.Distracted %></td>
                        <td style="word-wrap: normal"><%= record.Worries %></td>
                        <td style="word-wrap: normal"><%= record.Concentration %></td>
                        <td style="word-wrap: normal"><%= record.CompareSuccess %></td>
                        <td style="word-wrap: normal"><%= record.FeelAboutComparison %></td>
                        <td style="word-wrap: normal"><%= record.SeekValidation %></td>
                        <td style="word-wrap: normal"><%= record.Depressed %></td>
                        <td style="word-wrap: normal"><%= record.InterestDailyActivites %></td>
                        <td style="word-wrap: normal"><%= record.Sleep %></td>
                    </tr>
                <% }); %>
                </tr>
                </ul>
              <tbody>
  
              </tbody>
              </table>

          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Provo City - SMU MH</span>
            </a>
            <p>This is the Provo City page for Social Media Usage and Mental Health.
              With the new SMU MH committee, we are committed to helping the Provo community
              create healthier and happier lives. Through the community's help, we're able 
              to gather more data and provide the best resources for the city of Provo. 
            </p>
            <div class="social-links d-flex  mt-3">
              <a href="https://www.twitter.com/provocity" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/provocity/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/provocity/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/provo-city/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="/survey">Survey</a></li>
              <li><i class="bi bi-dash"></i> <a href="/dashboard">Explore Data</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              City Center Building <br>
              445 W Center St Suite 310<br>
              Provo, UT 84601 <br><br>
              <strong>Phone:</strong> +1 (801) 652-6000<br>
              <strong>Email:</strong> info@provocity.org<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Provo City - SMU MH</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">JTECH & Co.</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>